<div class="container" ng-controller="UserCreateController as vm">
    <h2>Buat Pengguna Baru</h2>
    <form ng-submit="vm.createUser()">
        <label for="name">Nama:</label>
        <input type="text" id="name" ng-model="vm.user.name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" ng-model="vm.user.email" required>

        <label for="nik">NIK:</label>
        <input type="number" id="nik" ng-model="vm.user.nik" required>

        <label for="dob">Tanggal Lahir:</label>
        <input type="date" id="dob" ng-model="vm.user.dob" required>

		<label for="roles">Pilih Role:</label>
		<select id="roles" multiple ng-model="vm.user.roleIds" class="tom-select" ng-options="role.id as role.roleName for role in vm.availableRoles"></select>

		<label for="divisions">Pilih Division:</label>
		<select id="divisions" multiple ng-model="vm.user.divisionIds" class="tom-select" ng-options="division.id as division.divisionName for division in vm.availableDivisions"></select>

        <button type="submit">Buat Pengguna</button>
    </form>

    <p ng-show="vm.successMessage" class="success-message">{{ vm.successMessage }}</p>
    <p ng-show="vm.errorMessage" class="error-message">{{ vm.errorMessage }}</p>
</div>
